In [1]:
import pandas as pd

In [38]:
datasets=pd.read_csv("C://Users//basit//Downloads//shopping_trends.csv")
datasets
#datasets.head(6)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53.0,Kentucky,L,Gray,Winter,NaN,Yes,Credit Card,Express,Yes,Yes,14.0,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64.0,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2.0,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73.0,Massachusetts,S,Maroon,NaN,3.1,Yes,Cash,Free Shipping,Yes,Yes,23.0,Credit Card,Weekly
3,4,21,NaN,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49.0,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49.0,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31.0,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,94.0,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32.0,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,94.0,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41.0,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,94.0,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24.0,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,NaN,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24.0,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,94.0,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33.0,Venmo,Quarterly

In [46]:
datasets.isnull().sum()

Customer ID                  0
Age                          0
Gender                       0
Item Purchased               0
Category                     0
Purchase Amount (USD)       11
Location                     0
Size                         0
Color                        0
Season                       0
Review Rating                9
Subscription Status          0
Payment Method               0
Shipping Type                0
Discount Applied             0
Promo Code Used              0
Previous Purchases           6
Preferred Payment Method     0
Frequency of Purchases       0
dtype: int64

In [45]:
mode_value = datasets["Season"].mode()[0]
datasets["Season"] = datasets["Season"].fillna(mode_value)

In [93]:
en_data = datasets[["Gender","Season"]]
en_data

      Gender  Season
0       Male  Winter
1       Male  Winter
2       Male  Spring
3       Male  Spring
4       Male  Spring
...      ...     ...
3895  Female  Summer
3896  Female  Spring
3897  Female  Spring
3898  Female  Summer
3899  Female  Spring

[3900 rows x 2 columns]

In [95]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  3900 non-null   bool
 1   Gender_Male    3900 non-null   bool
 2   Season_Fall    3900 non-null   bool
 3   Season_Spring  3900 non-null   bool
 4   Season_Summer  3900 non-null   bool
 5   Season_Winter  3900 non-null   bool
dtypes: bool(6)
memory usage: 23.0 KB

In [96]:
#from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [97]:
categories = [['Female', 'Male'], ['Spring','Fall', 'Winter', 'Summer']]

In [90]:
en_data.nunique()

Gender    2
Season    4
dtype: int64

In [99]:
oe=OrdinalEncoder(categories=categories)
oe.fit_transform(en_data)
#ohe=OneHotEncoder()
#ar=ohe.fit_transform(en_data).toarray()

array([[1., 2.],
       [1., 2.],
       [1., 0.],
       ...,
       [0., 0.],
       [0., 3.],
       [0., 0.]])

In [31]:
print(ar.shape)

In [24]:

#pd.DataFrame(ar,columns=["Gender_Female","Gender_Male","Season_Fall","Season_Spring","Season_Summer","Season_Winter","Extra_Column","Extra_Column"])

0    1
1    3
2    8
3    6
dtype: int64